*.iml
.gradle
/local.properties
.venv/
node_modules/
dist/
/build
/captures
.externalNativeBuild
.cxx
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*.log
